{
    max-width: 1000px;
    margin: 0px;
    padding: 0px;
}

.main-container{
    max-width: 600px;
    width: 100%;
    margin: 50px auto;
    padding: 20px;
    background-color:#2a9d8f;
    border-radius: 10px;
}

.counter{
    font-size: 2em;
    padding: 20px;
    color: #fff;

}

.btns {
    background-color: #ffb703;
    color: #fff;
    max-width: 150px;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    
}

.btns:hover {
    color: #000;
}

